body{
    font-family: 'Dosis', 'Arial', sans-serif;
    color:white;
    /* Location of the image */
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,.1)), url("../images/Me.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
  }
  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  .minor{
    margin-top: 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0.67em 0;
  }

  .major {
    margin-top: 0;
    position: relative;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
  }

  .button {
      border: solid 2px white;
      color: white;
      letter-spacing: 0.1em;
      background: none;
  }

  .button:hover {
    background: none;
    box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
  }
  .margin {
      margin-top: 30px
  }